@import url('https:fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    overflow-x: hidden;
    background:  #F9F1E8;
    min-height: 100vh;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}


/* img {
 
    width: 200px;
     
    height: 100px;
     
    } */
.logo
{
    color:#112434;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
} 
/* .logo
{
    max-width: 150px;
    margin-top: -30px;
} */

.navigation
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.navigation li
{
    list-style: none;
}
.navigation li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: #112434;
    border-radius: 20px;
}
.navigation li a:hover,
.navigation li a.active
{
    background: #112434;
    color:#fff;
}
.parallax
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parallax img
{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    
}
#text
{
    position: absolute;
    top: 38%;
    right:200px;
    transform: translateY(-50%);
    font-size:4.1em;
    color:#112434;
}
.sec
{
    position: relative;
    padding: 100px;
    background: #112434;
}
.sec h2
{
    font-size: 3em;
    color:#fff;
    margin-bottom: 10px;
}
.sec p
{
    font-size: 1em;
    color:#fff;
    font-weight: 300;
}
.sec input[type=text] {
    position: absolute;
    /* float:right; */
    left:620px;
    width:400px;
    padding: 12px;
    border: none;
    margin-top: 0px;
    margin-right: 16px;
    font-size: 17px;
    border-radius: 30px;
    
  }


.tab-label {
    padding: 15.5px;
    font-weight: bold;
    font-size: 16px; /* Example to increase the font size */
}

.content {
    margin-top: 150px;
    display: flex;
    justify-content: space-between; /* Ensures that content and image are spaced out */
}



.content .heading {
    width: 50%;
    margin-left: 50px;
}

.heading h1 {
    font-size: 50px; /* Specific style for H1 in heading class */
}

.heading p {
    font-size: 20px; /* Assuming you want to set paragraph sizes in heading */
    line-height: 1.6;
}

.content .img {
    width: 37%;
    height: 37%;
    display: inline-block;
    border: 10px solid #545646;
    border-radius: 20px;
    margin-right: 50px;
}

